<div id="follow-icons">
<a href="http://github.com/akashnimare"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://twitter.com/meakaakka"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="mailto:svnitakash@gmail.com"><i class="fa fa-envelope-square fa-2x"></i></a>
	<a href="{{@blog.url}}/rss"><i class="fa fa-rss-square fa-2x"></i></a>
</div>
